name: Trigger auto deployment for bp-backend-app

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/bp-backend-app-AutoDeployTrigger-4cd5e05e-3b88-4d29-a838-0739e4930599.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.BPBACKENDAPP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.BPBACKENDAPP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.BPBACKENDAPP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: bpback.azurecr.io
          registryUsername: ${{ secrets.BPBACKENDAPP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.BPBACKENDAPP_REGISTRY_PASSWORD }}
          containerAppName: bp-backend-app
          resourceGroup: big_project
          imageToBuild: bpback.azurecr.io/bp-backend-app:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


