name: Trigger auto deployment for bp-chatbot-app

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/bp-chatbot-app-AutoDeployTrigger-1a726f7e-5ef2-434c-a29e-3cf14e1e35cf.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.BPCHATBOTAPP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.BPCHATBOTAPP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.BPCHATBOTAPP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: bpchatbot.azurecr.io
          registryUsername: ${{ secrets.BPCHATBOTAPP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.BPCHATBOTAPP_REGISTRY_PASSWORD }}
          containerAppName: bp-chatbot-app
          resourceGroup: big_project
          imageToBuild: bpchatbot.azurecr.io/bp-chatbot-app:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


